[submodule "rs-simple-lora-client/lib/Adafruit_BusIO"]
	path = rs-simple-lora-client/lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO
[submodule "rs-simple-lora-client/lib/Adafruit_SHT31"]
	path = rs-simple-lora-client/lib/Adafruit_SHT31
	url = https://github.com/adafruit/Adafruit_SHT31
[submodule "pro-mini-simple-lora-server/pro-mini-simple-lora-server/lib/soil_sensor_common"]
	path = pro-mini-simple-lora-server/pro-mini-simple-lora-server/lib/soil_sensor_common
	url = https://github.com/jgallagher59701/soil_sensor_common
[submodule "rs-simple-lora-client/lib/soil_sensor_common"]
	path = rs-simple-lora-client/lib/soil_sensor_common
	url = https://github.com/jgallagher59701/soil_sensor_common
